<launch>

    <arg name="model" default="$(find nvt_simulation)/robots/naviton.urdf.xacro" />

    <param  name="robot_description"
		        command="$(find xacro)/xacro '$(arg model)'" />

    <node   name="urdf_spawner"  
            pkg="gazebo_ros" 
            type="spawn_model" 
            respawn="false" 
            output="screen" 
            args="-param robot_description -urdf -model naviton" />
</launch>
