<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find nvt_description)/urdf/utils/inertia.xacro" />
  <xacro:include filename="$(find nvt_description)/urdf/caster/caster_body.gazebo.xacro"/>

  <xacro:property name="wheel_radius" value="0.1575"/>
  <xacro:property name="wheel_length" value="0.032"/>
  <xacro:property name="wheel_mass" value="4"/>

  <xacro:macro name="caster_body_v0" params="prefix">
    <link name="${prefix}_caster_body_link">
      <visual>
		    <geometry>
		      <mesh filename="package://nvt_description/meshes/STL/caster/caster_body.stl"/>
		    </geometry>
		        
        <material name="black">
    		  <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
	    </visual>
    
      <collision>
		    <origin xyz="0 -0.003 0" rpy="0 0 0"/>
		    <geometry>
		  		<mesh filename="package://nvt_description/meshes/STL/caster/caster_body.stl"/>
		    </geometry>
      </collision>
	        
      <inertial>
				<origin xyz="0 0 -0.055"/>
				<mass value="4"/>
				<inertia ixx="0.48" ixy="0.48" ixz="0" iyy="0.48" iyz="0.48" izz="0" />
	    </inertial>
    </link>
  </xacro:macro>
</robot>
