<launch>

        <arg name="model" default="naviton" />
        <arg name="sim" default="true" />

        <group unless="$(arg sim)">
                <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		        <param name="port" type="string" value="/dev/teensy"/>
		        <param name="baud" type="int" value="57600"/>
		</node>

                <include file="$(find nvt_control)/launch/include/nvt_hwInterface.launch">
                        <arg name="model" default="$(arg model)" />
                </include>
        </group>

        <group if="$(arg sim)">
                <rosparam command="load" file="$(find nvt_control)/config/naviton_control_sim.yaml" />
        </group>
        <group unless="$(arg sim)">
                <rosparam command="load" file="$(find nvt_control)/config/naviton_control.yaml" />
        </group>

        <node   name="controller_spawner"
                pkg="controller_manager"
                type="spawner" 
                respawn="false"
                output="screen"
                ns="naviton"
                args="joint_state_controller mobile_base_controller" />

        <!--node   name="robot_state_publisher"
                pkg="robot_state_publisher"
                type="robot_state_publisher"
                respawn="false"
                output="screen"
                ns="naviton">
        </node-->

</launch>