<launch>

        <arg name="model" default="naviton" />
        <arg name="sim" default="true" />

        <group ns="naviton">
                
                <group unless="$(arg sim)">
                        <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
                                <param name="port" type="string" value="/dev/teensy"/>
                                <param name="baud" type="int" value="57600"/>
                        </node>

                        <node name="teensy_handler_node" pkg="nvt_control" type="teensy_handler_node" output="screen" respawn="false" />
                </group>

                <group if="$(arg sim)">
                        <rosparam command="load" file="$(find nvt_control)/config/naviton_control_sim.yaml" />
                </group>
                
                <group unless="$(arg sim)">
                        <rosparam command="load" file="$(find nvt_control)/config/naviton_control.yaml" />
                </group>

                <rosparam>
                        mobile_base_controller :
                                base_frame_id : naviton/base_link
                </rosparam>

                <node   name="controller_spawner"
                        pkg="controller_manager"
                        type="spawner" 
                        respawn="false"
                        output="screen"
                        args="joint_state_controller mobile_base_controller" />
        </group>

</launch>