<launch>

    <!-- ======== Parameters ======== -->
    <arg name="param_file" default="$(find nvt_core)/config/core/naviton.yaml" />
    
    <!-- ======== Core ======== -->
    <group ns="core">
        
        <!-- Naviton -->
        <node pkg="nvt_core" type="naviton_node" name="naviton_node" output="screen">
            <rosparam command="load" file="$(arg param_file)" />
        </node>
    
    </group>

</launch>