<launch>

    <!-- ======== Parameters ======== -->
    <arg name="param_file_obstacle_costmap_generator" default="$(find nvt_core)/config/planning/costmap/obstacle_costmap_generator.yaml" />
    <arg name="param_file_dwa_planner" default="$(find nvt_core)/config/planning/planner/dwa_planner.yaml" />

    <!-- ======== Planning ======== -->
    <group ns="planning">

        <!-- ======== Costmap ======== -->
        <group ns="costmap">
            <!-- Obstacle Costmap Generator -->
            <include file="$(find obstacle_costmap_generator)/launch/obstacle_costmap_generator.launch">
                <arg name="param_file" value="$(arg param_file_obstacle_costmap_generator)" />
            </include>
        </group>

        <!-- ======== Planner ======== -->
        <group ns="planner">
            <!-- DWA Planner -->
            <include file="$(find nvt_dwa_planner)/launch/dwa_planner.launch">
                <arg name="param_file" value="$(arg param_file_dwa_planner)" />
            </include>
        </group>

    </group>
    
</launch>