<launch>

<!-- ======== Sensors ======== -->
<group ns="sensors">

    <!-- HDL-32E -->
    <group ns="velodyne">
        <include file="$(find nvt_core)/launch/include/sensors/velodyne/velodyne.launch" >
            <arg name="frame_id_prefix" value="naviton/" />
            <arg name="frame_id" value="velodyne_link" />
        </include>
    </group>

    <!-- UTM30-LX -->
    <group ns="lrf">
        <include file="$(find nvt_core)/launch/include/sensors/hokuyo/hokuyo.launch">
            <arg name="frame_id" value="naviton/front_lrf_link" />
        </include>
    </group>

</group>

</launch>