<launch>

    <arg name="model" default="$(find nvt_simulation)/robots/naviton.urdf.xacro" />
  
    <arg name="world_name" default="$(find nvt_simulation)/worlds/autoware.world" />

    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="false" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
    </include>
    
    <node pkg="nvt_simulation" type="launch_delayed.sh" args="1 roslaunch nvt_simulation spawn_robot.launch model:=$(arg model)" name="spawn_robot" output="screen" />

</launch>
