<launch>
    <include file="$(find nvt_description)/launch/robot_model.launch" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ns="naviton">
    </node>

    <node   name="robot_state_publisher"
            pkg="robot_state_publisher"
            type="robot_state_publisher"
            respawn="false"
            output="screen"
            ns="naviton">
        <remap from="/joint_states" to="joint_states" />
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nvt_description)/rviz/nvt_description.rviz" required="true" />
</launch>