<launch>
    <arg name="model" default="$(find nvt_description)/urdf/naviton.urdf.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nvt_description)/rviz/nvt_description.rviz" required="true" />
</launch>