<launch>

    <!-- ======== Parameters ======== -->
    <!-- Mode-->
    <arg name="sim" default="true" />
    <arg name="mode" default="true" />    <!-- false: Recording, true: Tracking -->
    
    <!-- Basic -->
    <arg name="model" default="naviton" />
    <arg name="world" default="$(find nvt_simulation)/worlds/autoware.world" />

    <!-- Map PCD -->
    <arg name="map_file" default="autoware_world.pcd" />

    <!-- Waypoint CSV -->
    <arg name="waypoint_file" default="autoware_world.csv" />

    <!-- Initial Pose -->
    <arg name="init_pos_x" default="0.0" />
    <arg name="init_pos_y" default="0.0" />
    <arg name="init_pos_z" default="0.0" />

    <param name="/use_sim_time" value="$(arg sim)" />

    <!-- ======== Simulation ======== -->
    <group if="$(arg sim)">
        <include file="$(find nvt_simulation)/launch/nvt_simulation.launch">
            <arg name="world" value="$(arg world)" />
            <arg name="use_sim_time" value="true" />
        </include>
    </group>

    <!-- ======== Description ======== -->
    <include file="$(find nvt_description)/launch/robot_model.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="init_pos_x" value="$(arg init_pos_x)" />
        <arg name="init_pos_y" value="$(arg init_pos_y)" />
        <arg name="init_pos_z" value="$(arg init_pos_z)" />
    </include>

    <!-- ======== Control ======== -->
    <node pkg="nvt_core" type="launch_delayed.sh" args="5 roslaunch nvt_control nvt_control.launch model:=$(arg model) sim:=$(arg sim)" name="nvt_control" output="screen" />

    <group ns="naviton">

        <!-- ======== Real Only ======== -->
        <group unless="$(arg sim)">
            <!-- ======== Sensors ======== -->
            <include file="$(find nvt_core)/launch/include/sensors.launch" />
        </group>

        <!-- Tracking Mode Only -->
        <group if="$(arg mode)">
            
            <!-- ======== Perception ======== -->
            <node pkg="nvt_core" type="launch_delayed.sh" args="5 roslaunch nvt_core perception.launch" name="nvt_perception" output="screen" />

            <!-- ======== Planning ======== -->
            <node pkg="nvt_core" type="launch_delayed.sh" args="5 roslaunch nvt_core planning.launch" name="nvt_planning" output="screen" />

            <!-- ======== Core ======== -->
            <node pkg="nvt_core" type="launch_delayed.sh" args="5 roslaunch nvt_core core.launch" name="nvt_core" output="screen" />
        </group>

        <!-- ======== Waypoint ======== -->
        <include file="$(find nvt_core)/launch/include/waypoint.launch">
            <arg name="mode" value="$(arg mode)" />
            <arg name="file_name" value="$(arg waypoint_file)" />
        </include>

    </group>

    <!-- ======== Localization ======== -->
    <node pkg="nvt_core" type="launch_delayed.sh" args="5 roslaunch nvt_core localization.launch map_file:=$(arg map_file) init_pos_x:=$(arg init_pos_x) init_pos_y:=$(arg init_pos_y) init_pos_z:=$(arg init_pos_z)" name="nvt_localization" output="screen" />

    <!-- ======== Rviz ======== -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nvt_core)/rviz/main.rviz" required="true" />

</launch>