<launch>

    <!-- ======== Parameters ======== -->
    <!-- Basic -->
    <arg name="model" default="naviton" />
    <arg name="world_name" default="$(find nvt_simulation)/worlds/autoware.world" />
    <arg name="use_sim_time" value="true"/>

    <!-- Map PCD -->
    <arg name="map_file_dir" default="$(find nvt_core)/config/localization/map_files" />
    <arg name="map_file" default="autoware_world.pcd" />

    <!-- Initial Pose-->
    <arg name="init_pos_x" default="0.0" />
    <arg name="init_pos_y" default="0.0" />
    <arg name="init_pos_z" default="0.0" />

    <!-- ======== Simulation ======== -->
    <include file="$(find nvt_simulation)/launch/nvt_simulation.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="init_pos_x" value="$(arg init_pos_x)" />
        <arg name="init_pos_y" value="$(arg init_pos_y)" />
        <arg name="init_pos_z" value="$(arg init_pos_z)" />
    </include>

    <!-- ======== Localization ======== -->
    <node pkg="nvt_core" type="launch_delayed.sh" args="3 roslaunch nvt_core localization.launch init_pos_x:=$(arg init_pos_x) init_pos_y:=$(arg init_pos_y) init_pos_z:=$(arg init_pos_z)" name="nvt_localization" output="screen" />

    <!-- ======== Perception ======== -->
    <node pkg="nvt_core" type="launch_delayed.sh" args="3 roslaunch nvt_core perception.launch" name="nvt_perception" output="screen" />

    <!-- ======== Planning ======== -->
    <node pkg="nvt_core" type="launch_delayed.sh" args="5 roslaunch nvt_core planning.launch" name="nvt_core" output="screen" />

    <!-- ======== Controller ======== -->
    <node pkg="nvt_core" type="launch_delayed.sh" args="3 roslaunch nvt_control nvt_control.launch model:=$(arg model) sim:=true" name="nvt_control" output="screen" />

    <!-- ======== Rviz ======== -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nvt_core)/rviz/simulation.rviz" required="true" />

</launch>