<launch>
    <arg name="param_file" default="$(find waypoint_manager)/config/waypoint_loader.yaml" />
    <arg name="file_directory" default="$(find waypoint_manager)/recordedFiles" />
    <arg name="file_name" default="wpData_latest.csv" />

    <node pkg="waypoint_manager" type="waypoint_loader_node" name="waypoint_loader_node" output="screen">
        <rosparam command="load" file="$(arg param_file)" />
        <param name="file_dir" value="$(arg file_directory)" />
        <param name="file_name" value="$(arg file_name)" />
    </node>

</launch>